USE [master]
GO
/****** Object:  Database [DB_Asesment]    Script Date: 02/07/2024 17:03:04 ******/
CREATE DATABASE [DB_Asesment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Asesment', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Asesment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Asesment_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_Asesment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Asesment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Asesment]
GO
/****** Object:  Table [dbo].[MS_LAYANAN]    Script Date: 02/07/2024 17:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MS_LAYANAN](
	[idLayanan] [int] IDENTITY(1,1) NOT NULL,
	[NamaLayanan] [varchar](50) NOT NULL,
	[DeskripsiLayanan] [varchar](max) NULL,
	[HargaLayanan] [int] NOT NULL,
	[StatusLayanan] [int] NOT NULL,
 CONSTRAINT [PK_MS_LAYANAN] PRIMARY KEY CLUSTERED 
(
	[idLayanan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TR_PENJUALAN_SALON]    Script Date: 02/07/2024 17:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TR_PENJUALAN_SALON](
	[idTransaksi] [varchar](10) NOT NULL,
	[idLayanan] [int] NULL,
	[QtyLayanan] [int] NULL,
	[HargaTotalTransaksi] [int] NULL,
	[TanggalTransaksi] [datetime] NULL,
 CONSTRAINT [PK_TR_PENJUALAN_SALON] PRIMARY KEY CLUSTERED 
(
	[idTransaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TR_PENJUALAN_SALON]  WITH CHECK ADD  CONSTRAINT [FK_TR_PENJUALAN_SALON_MS_LAYANAN] FOREIGN KEY([idLayanan])
REFERENCES [dbo].[MS_LAYANAN] ([idLayanan])
GO
ALTER TABLE [dbo].[TR_PENJUALAN_SALON] CHECK CONSTRAINT [FK_TR_PENJUALAN_SALON_MS_LAYANAN]
GO
USE [master]
GO
